
.modal-window {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 500;
}
.modal-window-container, .modal-window-panel {
  position: relative;
  width: 100%; height: 100%;
}
.modal-window-panel { background-color: #ffffffd4; }

.auth-card {
  width: 50rem; height: 30.5rem;
  background-color: #fff;
  display: flex; border-radius: 8px;
  box-shadow: 0 0 8rem rgba(0, 0, 0, 0.2);
}
.auth-card-position {
  position: absolute; left: 50%;
  transform: translate(-50%, -50%);
}

.auth-card-adv {
  flex: 4;
  
  /* Background properties */
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.auth-card-adv, .auth-card-adv-container {
  border-radius: 8px 0 0 8px;
}
.auth-card-adv-container {
  font-family: 'Open Sans', Arial, sans-serif;
  /* Shade color */
  background-color: #1f25329e;
  height: 100%; color: #efefef;
  padding: 50% 8% 10% 8%;
}

.auth-card-adv-container > .disclaimer {
  font-weight: 300;
  font-size: 2.6rem;
}
.auth-card-adv-container > .disclaimer-info {
  font-size: 0.8rem; font-style: italic;
  margin: 1rem 0 0 0.3rem;
}

.auth-card-form-section { flex: 3; position: relative; }
.auth-card-form-section .close-wrapper {
  position: absolute; top: 0.8rem; right: 0.8rem;
}

.auth-login-form {
  height: 100%; padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.auth-login-form > * { margin-bottom: 1.5rem; }
.auth-login-form > *:last-child {
  margin-bottom: 0; margin-top: 0.5rem;
}

.auth-login-form .submit-error {
  margin: 0;
  /* Center horizontally */
  left: 50%; transform: translateX(-50%);
  top: 42%;
}

.input-wrapper {
  position: relative; color: #00000080;
}
.input-wrapper > .icon, .input-wrapper > .view-icon {
  color: #00000040;
  position: absolute; top: 50%;
  transform: translateY(-50%);
}
.input-wrapper > .icon { left: 0.6em; }
.input-wrapper > .view-icon {
  cursor: pointer;
  font-size: 0.9em; right: 0.6em;
}

.form-title {
  font-family: 'Open Sans'; text-align: center;
  font-weight: 300; font-size: 2rem;
  margin-bottom: 4rem; color: #596377;
}

.input-wrapper > .input-username, .input-wrapper > .input-password {
  font-family: 'Lato', Arial, sans-serif;
  width: 100%; border: none;
  background-color: #0000000a;
  padding: 0.6em 0.8em; border-radius: 5px;
  padding-left: 2.4em; color: inherit;
}
.input-wrapper > .input-username:required,
.input-wrapper > .input-password:required {
  /* Fix for Mozilla with its default red shadow for required fields */
  box-shadow: unset;
}
.input-wrapper > .input-username {}
.input-wrapper > .input-password { padding-right: 2.2em; }
.input-wrapper > .error-text {
  position: absolute;
  bottom: -1.3em; right: 0;
  font-size: 0.7em; color: #EF5350;
  font-family: 'Source Sans Pro';
}

.btn-login.act-btn-idle,
.btn-login.act-btn-proc, .btn-login.act-btn-success {
  background-color: #1bbfa0;
}
.btn-login.act-btn-error { background-color: #f44336; }
